/* Footer css */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footersection{
  width: 100%;
  /* height: 100vh; */
  background: #171e30;
  padding-top:30px;
  margin-top: 1px;
}
.Foot{
  margin-bottom: 50px;
}
a,a:hover{
  font-weight: 300 !important;
  color: white !important;
  text-decoration: none !important;
  
}
.footersection a,.footersection label{
  font-family: 'Poppins' !important;
  font-weight: lighter;
}
.footersection select{
  background-color: transparent;
  outline: none;
  border: none;
  color: #00acee;
  font-family: 'Nunito';
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 100px;
  cursor: pointer;
}
.footersection option{
background: #1A5276;
font-family: 'Nunito';
letter-spacing: 1px;
}

.logopicdiv{
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}
.logopic{
  margin: auto;
  margin-top: 20px;
  width: 100%;

  max-width: 200px;
  padding: 0 2rem;
}

.getstarted{
  list-style: none;
  position: relative;
}
.getstarted li{
  /* float: left; */
  text-align: left;
  color: white;
  font-weight: 600;
  font-size: 0.9375rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.getstarted li p::after{
  content: "";
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 2px;
  left: 50%;
  opacity: 0;
  width: 100px;
  transition: all 0.3s ease;
}
.getstarted li:hover p::after{
  opacity: 1;
  left: 0;
}
.getstarted h2{
  color: white;
  font-size: 1.25rem;
  font-weight: lighter;
  letter-spacing: 1.4px;
  font-family: 'Poppins';
  text-transform: uppercase;
}
.getstarted h2::after{
  content: "";
  height: 2px;
  width: 10vw;
  background-color: #fff;
  display: block;
}
.social{
  width: auto;
  height: auto;
  margin-bottom: 13px;
}
.social p{
  font-size: 2.2rem;
  margin-right: 20px;
}
.social .twitter{
  cursor: pointer;
  color: #00acee;
  transition: all 0.3s linear;
}
.social .insta{
  cursor: pointer;
  transition: all 0.3s linear;
  color: #fb3958;
}
.social .fb{
  cursor: pointer;
  color: #3b5998;
  transition: all 0.3s linear;
}

.social img{
  width: 35px;
}

.newletterr{
  display: grid;
  place-items: center;
  margin: auto;
}
.newletterr input{
  width: 100%;
  border-radius: 100px;
  height: 40px;
  overflow: hidden;
  outline: none;
  border: none;
  font-size: 1.1875rem;
  font-weight: 600;
  font-family: 'Nunito';
  padding: 0 1.2rem;
}
.newletterr h2{
  font-family: 'PNunito';
  letter-spacing: 2.5px;
  color: #fff;
}
.newletterr input::placeholder{
  font-size: 1.125rem;
  font-family: 'Nunito';
}
.newletterr button{
  margin-top: 10px;
  padding: 0.3rem 1.5rem;
  border-radius: 100px;
  outline: none;
  border: none;
  background-color: #1A5276;
  color: #fff;
  font-family: 'Nunito';
  letter-spacing: 1.5px;

}
.newletterr button:hover{
  box-shadow: 0 0px 6px 0px #fff;
}

.copyrights{
  width: 100%;
  background-color: #000;
  padding: 0;
}
.copyrights a{
  display: block;
  margin: auto;
  margin-top: 8px;
  z-index: 20;
  padding-top: 4px;
  margin-bottom: 0;
  height: 30px;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}
.col-md-4, .col-8 {
padding: 0;
}
.d-flex{
  justify-content: space-between;
}


@media(max-width:480px){
  .social{
    margin-bottom: 20px;
  }
  p{
    font-size: 0.75rem;
  }
  
}
