/* header.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

#inputPincode::-webkit-outer-spin-button,
#inputPincode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
}

#map {
  width: 100%;
  padding: 20px;
  min-width: 300px;
  height: 400px;
}
.NavbarBrand #logo .LogoImg{
  padding: 1rem 0;
}
#hamMenu {
  display: none;
  height: 50px;
  width: fit-content;
  margin-right: 15px;
}

.NavbarBrand .pincodeContainer{
  position: relative;
  padding: 20px;
  width: 200px;
  margin-left: 0px;
  color: #fff;
}
.NavbarBrand .pincodeContainer span{
  margin: auto 0px;
}
.NavbarBrand .pincodeContainer .Location{
  width: 200px;
}
.NavbarBrand .pincodeContainer .Location p{
  margin: auto 0;
  font-family: 'Nunito';
  letter-spacing: 0px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.editIco {
  padding: 0 8px;
  cursor: pointer;
}

/* #inputPincode {
  min-width: 100px;
  width: 100%;
  max-width: 300px;
  border: 1px solid;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: 'Nunito';
}
#inputPincode::placeholder{
  font-family: 'Ubuntu';
  letter-spacing: 2px;
}
#inputPincode:focus {
  outline: none;
} */
nav.navbar {
  /* background-color: #408fcc; */
  background-color: #171e30;
  height: 90px;
  color: white;
  text-decoration: none;
  z-index: 1;
  padding: 8px;
  font-weight: 600;
  flex-wrap: nowrap;
  box-shadow: 0 0 5px -3px black;
  padding: 0 2rem;
}

.NavbarBrand{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* background-color: #eee; */
}
.NavbarBrand #logo{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavbarBrand #logo img{
  width: 200px;
  height: 90px !important;
  object-fit: contain;
}
.pincodeContainer .LocationImage{
  width: 50px;
}
.pincodeContainer .LocationImage img{
  width: 30px !important;
  object-fit: contain;
}

nav.navbar > :first-child {
  display: flex;
  align-items: center;
}
nav.navbar > div > div {
  display: inline-block;
}

#logo a {
  padding: 0;
}

.editIco .noStyleButton {
  padding: 0;
  background-color: transparent;
  border: none;
}
#autoLocation {
  border: none;
  background-color: white;
}

/* ############################# Location Add Section ###################################################### */

.LocationAddTab{
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}
.locInputbox{
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.AddPincode{
  display: flex;
}
.AddPincode button{
  padding: 0rem 1rem;
  border: none;
  font-family: 'Nunito';
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #408fcc;
  transition: 0.4s;
  border: 2px solid #408fcc;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
}
.AddPincode button:focus{
  outline: none;
  border: none;
}
.AddPincode #inputPincode{
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Nunito';
  letter-spacing: 2px;
  margin-left: 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}
.AddPincode #inputPincode::placeholder{
  font-weight: lighter;
  letter-spacing: 2px;
}
.locInputbox #autoLocation img{
  margin-right: 10px;
}
.locInputbox #autoLocation span{
  font-size: 1.2rem;
  font-family: 'Nunito' !important;
  font-weight: bold;
  border-bottom: 1px solid #000;
}



.nav-items {
  position: relative;
  z-index: 100 !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 45%;
  margin-right: 5rem;
  max-width: 850px;
  /* background-color: #eee; */
}
.nav-items  span{
  display: flex;
  /* margin-right: 10px; */
}

.nav-items h5{
  font-size: 1.125rem;
  font-family: 'Nunito';
  letter-spacing: 1.2px;
}
.nav-items img {
  width: 20px;
  padding-bottom: 10px;
  padding-right: 2px;
}

.navbar button {
  padding: 8px 12px;
}
.navbar li,
.navbar a {
  padding: 8px 8px;
  cursor: pointer;
  list-style-type: none;
  font-size: 0.875rem;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.6); */
  color: white;
  position: relative;
  transition: all ease 0.3s;
}

.navbar a:hover {
  color: rgb(236, 236, 236);
  text-decoration: none;
}
.navbar li {
  justify-self: flex-end;
  flex-basis: 5%;
  cursor: default;
  padding: 0;
  position: relative;
}
.nav-items a span::after {
  content: "";
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-items a:hover span::after {
  opacity: 1;
  left: 0;
  width: 100%;
  outline: none;
}
.navbar li:hover {
  outline: none;
}
.error {
  color: red;
  margin: 5px;
  font-size: 0.75rem;
}

.cartIcon {
  width: 30px;
  height: 30px;
  background: transparent;
}
.cartIcon img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  background-color: transparent;
}
#dropdown-basic{
  background: transparent !important;
}
.CartIconCircle{
  width: 20px;
  height: 20px;
  padding: 3px 8px;
  border-radius: 100px;
  background-color: #85C1E9;
}
.CartIconCircle span{
  font-family: 'Nunito';
  font-weight: bold;
  color: #000;
}


@media (max-width: 973px) {
  .NavbarBrand #logo .LogoImg{
    height: 70px !important;
  }

  .nav-items {
     
     position: absolute;
     left: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     top: 56px;
     display: none;
     z-index: 10000 !important;
     margin-right: 0;
     background-color: #171e30;
     transition: all ease 3s;
     font-size: 0.3rem !important;
     /* transitions to display not possible changing visibility along with display with js */
     animation: Nav_items_display 0.5s ease-in-out alternate forwards ;
     white-space: nowrap;
    box-shadow: 0 2px 8px 2px rgba(0,0,0,0.9);
   }
   @keyframes Nav_items_display{
    0%{
      width: 0%;
    }
    100%{
      width: 75%;
    }
   }
   
  .nav-items  span {
     margin: 10px 0px;
   }
   #hamMenu {
     display: block;
     z-index: 100;
   }
   nav.navbar {
     height: 56px;
     padding: 0;
     font-size: 0.8125rem;
     z-index: 100;
   }
 }
 
 
 @media (max-width: 942px) {
   nav.navbar > div > li {
     padding-right: 8px;
   }
   .editIco {
     padding: 0 4px;
   }
   .NavbarBrand{
     display: flex !important;
     justify-items: flex-start;
     width: 70%;
     padding: 0 0px;
   }
 
   .NavbarBrand #logo{
     width: auto !important;
     height: auto;
     margin: auto;
     padding: 0px 0px;
   }
   .NavbarBrand #logo .LogoImg{
     width: auto;
   }
   
   .NavbarBrand .pincodeContainer{
     position: relative;
     width: 150px!important;
    margin-left: 0 !important;
     padding: 0px;
   }
   .NavbarBrand .pincodeContainer span{
     margin: auto 0px;
   }
   .NavbarBrand .pincodeContainer .Location{
     width: 100px;
   }
   .NavbarBrand .pincodeContainer .Location p{
     margin: auto 0;
     font-family: 'Nunito';
     font-size: 0.9rem;
     overflow: hidden !important;
     text-overflow: ellipsis !important;
     white-space: nowrap;
   }
  
   .navbar #logo img {
     height: 30px;
     margin-top: 0;
     margin: 0;
   }


   .LocationAddTab{
    width: 100%;
    display: grid;
    place-items: center;
  }
   .locInputbox{
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
  }
  .AddPincode{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .AddPincode #inputPincode{
    padding: 0 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Nunito';
    letter-spacing: 2px;
  }
  .AddPincode button{
    padding: 0px 1rem !important;
    text-transform: uppercase;
    text-align: center;
    border: none;
    outline: none;
    background-color: #408fcc;
    color: #ffffff;
    border-radius: 3px;
  }
  .locInputbox #autoLocation span{
    font-size: 1.2rem;
    font-family: 'Nunito' !important;
    font-weight: bold;
  }
  .pincodeContainer .LocationImage{
    width: 50px;
  }
  .pincodeContainer .LocationImage img{
    width: 25px !important;
    object-fit: contain;
  }
  .cartIcon {
    width: 25px;
    height: 30px;
    background: transparent;
  }
  .cartIcon img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    background-color: transparent;
  }
  .CartIconCircle{
    padding: 0px 5px;
    border-radius: 100px;
    background-color: #85C1E9;
  }
   
 }
 