.product-details{
    padding:5vh 5vw;
    font-family: Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-details p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2vh;
}

.product-details h3{
    font-size: 25px;
}

.product-details h1{
    margin-bottom: 5vh;
    font-size: 35px;
    font-weight: 600;
}

.info-page{
    background-color: lightgrey;
    margin-top:10vh;
}

.info-container{
    width:70vw;
    margin:auto;
}

.info-user{
    margin-top:0;
}

.buy-button-container{
    margin:0 auto 5vh;
}

.center-content{
    width:100%;
    padding:2vh 0;
    
}

.center-heading{
    text-align: center;
}

.center-elements{
    text-align: center;
}

.qrcode-container{
    padding: 5vh 0;
    margin-bottom: 5vh;
}

.qrcode-container h3{
    margin: 5vh 0;
}

.message-heading{
    margin:5vh 0;
}

.product-info {
    width:50vw;
}

@media only screen and (max-width:700px){
    .product-info{
        width:70vw;
    }
}
