.product-details{
    padding:5vh 0;
}
.info-page{
    background-color: #f8f5f2;
}

.buy-button-container{
    margin:5vh 0;
    margin:auto;
}

.center-content{
    width:100%;
}

.center-heading{
    text-align: center;
}

.center-elements{
    text-align: center;
}

.qrcode-container{
    padding: 5vh 0;
}

.message-heading{
    margin:5vh 0;
}

