.product-details{
    padding:2vh 5vw;
}

.product-details h1{
    margin-bottom: 5vh;
}

.info-container {
    background-color: #b8c1ec;
}
.info-page{
    background-color: #fffffe;
}

.buy-button-container{
    margin:5vh 0;
    margin:auto;
}

.center-content{
    width:100%;
}

.center-heading{
    text-align: center;
}

.center-elements{
    text-align: center;
}

.qrcode-container{
    padding: 5vh 0;
}

.message-heading{
    margin:5vh 0;
}

